body {
    text-align: center;
}

#container {
  margin-top: 5%;
  float: left;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}

#player-score, #enemies-score {
  width: 45%;
  text-align: center;
  border: 3px solid red;
  background-color: black;
}

#player-score {
  margin-right: 2px;
}

#enemies-score {
  margin-left: 2px;
}

p {
  background-color: silver;
  color: blue;
  text-align: center;
  /* font-size: 1.2em; */
}

h1 {
  color: yellow;
  font-size: 4em;
  /* padding-left: 0.3em; */
}

.collectibles {
  margin-top: 10%;
  float: left;
  width: 30%;
  margin-right: 1%;
  height: 100px;
  background-color: grey;
  opacity: 0.4;
  border: 1px solid red;
}

.collectibles-open {
  margin-top: 10%;
  float: left;
  width: 30%;
  margin-right: 1%;
  height: 100px;
  /* background-color: ; */
  border: 2px ridge  green;
}
